<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Showr makes it easy to share your showerthoughts">
        <meta name="author" content="Elias Lilja & Jesper Bäck">
        <link rel="icon" href="/images/favicon.ico">

        <title>Showr - Share your showerthoughts!</title>
        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
        <link href="/stylesheets/signin.css" rel="stylesheet">
        <link href="/stylesheets/showr.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    </head>

<body>

<%- body %>

</body>
</html>
